.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--white);
}

.cart-item > .item-container {
  display: flex;
  align-items: center;
  color: var(--white);
  padding: 10px;
}

.item-container > img {
  width: 50px;
  height: auto;
  margin-right: 10px;
  border-radius: 5px;
}

.item-container > .item-info {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.item-info > h4,
.item-info > h5 {
  padding: 0;
  margin: 0;
}

.cart-item > button {
  margin: 10px;
  height: 40px;
  background-color: var(--white);
  border: 1px solid var(--white);
  border-radius: 5px;
  font-weight: 700;
}

.cart-item > button:hover {
  cursor: pointer;
  background-color: var(--blue);
  color: var(--white);
}
