.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  text-align: center;
  background-color: var(--white);
  border-radius: 5px;
}

.product > img {
  width: 200px;
  height: auto;
  border: 1px solid var(--dark-blue);
  border-radius: 5px;
}

.product > h3{
    width: 110px;
}

.product > button {
    padding: 15px;
    margin-right: 10px;
    font-size: 16px;
    background-color: var(--light-blue);
    border: 1px solid var(--light-blue);
    border-radius: 30px;
}

.product > button:hover {
    background-color: var(--white);
    color: var(--light-blue);
    cursor: pointer;
}

.product > button:active {
    color: var(--dark-blue);
    border-color: var(--dark-blue);
}