.cart-container {
  width: 350px;
}

.shopping-cart {
  position: sticky;
  top: 20px;
  width: 350px;
  margin-left: 20px;
  background-color: var(--blue);
  border-radius: 5px;
  border: 1px solid var(--white);
  height: fit-content;
  text-align: center;
}

.shopping-cart > header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

header > h2 {
  margin-left: 10px;
}

.shopping-cart > h3 {
  margin: 0;
  padding: 20px;
  color: var(--white);
  border-top: 1px solid var(--white);
}
